.btn {
  padding: 0;
  display: inline-block;
  vertical-align: top;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;

  svg {
    display: block;
  }

  &:focus {
    outline: none;
  }
}

.btn-wrap {
  display: flex;

  &--center {
    justify-content: center;
  }
}

.btn--default {
  display: flex;
  align-items: center;

  padding: 1.3rem 2.5rem 1.4rem 3.2rem;
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 400;
  color: $white;
  transition: background-color .2s linear;

  background-color: $blue;
  border-radius: 2.3rem;

  svg {
    margin-left: 1.5rem;
    transition: transform .2s linear;
  }

  &:hover {
    background-color: darken($blue, 5%);
  }

  &:hover .btn__icon-arrow {
    transform: translateX(.2rem);
  }
}

.btn--transparent {
  border: 2px solid $blue;
  background-color: transparent;
  transition: backdrop-filter .2s linear;

  &:hover {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
}

.btn--uppercase {
  text-transform: uppercase;
}

.btn--rectangle {
  border-radius: 0;
  font-size: 1.9rem;
  padding: 2rem 6rem;
}

@media (max-width: 1199px) {
  .btn--rectangle {
    font-size: 1.8rem;
    padding: 1.5rem 4rem;
  }
}

@media (max-width: 575px) {
  .btn--rectangle {
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
  }
}