.burger {
  margin-right: 2rem;
  display: block;
  width: 42px;
  height: 23px;

  position: relative;
  padding: 0;
  border: none;

  font-size: 0;
  color: transparent;

  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.burger__line {
  display: block;
  width: 42px;
  height: 2px;
  margin-bottom: 8.5px;
  background-color: $white;

  &:nth-child(3) {
    width: 21px;
    margin-right: auto;
  }
}