.dropdown {
  display: none;

  width: 23.2rem;
  border-radius: 10px;
  padding: 2rem;
  background-color: $white;
  position: absolute;
  top: 140%;
  left: -9%;
  z-index: 2;
}

.dropdown__item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.dropdown__icon {
  margin-right: 1rem;
  fill: $blue;
}

.dropdown__link {
  color: $blue;
}