.dropdown {
  display: none;

  width: 23.2rem;
  border-radius: 10px;
  padding: 2rem;
  background-color: $white;
  position: absolute;
  top: 150%;
  left: -9%;
  z-index: 2;

  &--blue {
    background-color: rgba(0, 122, 220, .8);
  }
}

.dropdown__item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.dropdown__icon {
  margin-right: 1rem;
  fill: $blue;

  &--white {
    fill: $white;
  }
}

.dropdown__link {
  color: $blue;

  &--white {
    color: $white;
  }
}