.form {
  padding: 2.5rem 8.9rem 4.2rem;
  width: 61.7rem;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.form__title {
  margin-bottom: 2.4rem;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4.9rem;
  line-height: 1.2;
}

.form__title-blue {
  color: $blue;
  font-size: 2.9rem;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 1.8rem;
  text-align: center;
  line-height: 1.2;
}

.form__title-vacancy {
  margin-bottom: 3.2rem;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.1rem;
  font-weight: 700;
  color: $blue;
  text-align: center;
}

.form__title-contacts {
  margin-bottom: 3.9rem;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: $blue;
  text-align: center;
}

.form__inner {
  margin-bottom: 3.3rem;
  display: grid;
  grid-template-rows: repeat(3, 5rem);
  grid-row-gap: 2rem;
}

.form__input,
.form__textarea {
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  color: $black;
  padding: 0 1.6rem;
  background-color: #f4f6fa;
  outline: 0;
  border: 1px solid transparent;
  transition: border .2s linear;

  &::placeholder {
    color: $black;
  }

  &:focus {
    border: 1px solid rgba($blue, .5);
  }
}

.form__textarea {
  resize: none;
  padding-top: 1.6rem;
}

.form__input--contacts,
.form__textarea--contacts {
  font-size: 1.7rem;
  padding: 0 3.5rem;
  background-color: $white;
  border: 1px solid #707070;

  &::placeholder {
    color: #6a6a6a;
  }
}

.form__textarea--contacts {
  padding-top: 1.1rem;
}

.form__connection {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 3.3rem;
    font-size: 1.4rem;
  }
}

/* checkbox */
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;

  font-size: 1.4rem;
  cursor: pointer;

  &:first-of-type {
    margin-right: 5.4rem;
  }
}

.form__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 2.6rem;
  height: 2.7rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 1.5rem;
  background-color: #f4f6fa;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.form__checkbox:checked+label::before {
  background-image: url('../img/checkbox.svg');
}

.form__file-wrap {
  margin-bottom: 2rem;
}

.form__file-wrap svg {
  transform: rotate(-45deg);
}

.form__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.form__file-label {
  cursor: pointer;
  font-size: 1.4rem;
}

@media (max-width: 1499px) {
  .form__title {
    font-size: 4rem;
  }
}

@media (max-width: 1199px) {
  .form__title-vacancy {
    font-size: 2.7rem;
  }

  .form__input--contacts,
  .form__textarea--contacts {
    font-size: 1.6rem;
    padding: 0 2rem;
  }

  .form__textarea--contacts {
    padding-top: 1rem;
  }
}

@media (max-width: 991px) {
  .form__title-blue {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .form {
    padding: 2.5rem 3rem 4.2rem;
    width: auto;
  }

  .form__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 575px) {
  .form {
    box-shadow: none;
    background: none;
    padding: 0;
  }

  .form__title {
    font-size: 3rem;
  }

  .form__title-contacts {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}