.intro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background: url('../img/intro-bg.jpg') no-repeat center;
  background-size: cover;
}

.intro__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.intro__content {
  z-index: 1;
  width: 100%;
}

.intro__content .container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  margin-bottom: 2rem;
  max-width: 80rem;

  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 7rem;
  line-height: 1.2;
  color: $white;
}

.intro__actions {
  display: flex;
  justify-content: center;
}

.intro__btn {

  &:first-of-type {
    margin-right: 2rem;
  }
}

.intro__scroll-down {
  position: absolute;
  z-index: 2;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  svg:last-of-type {
    margin-top: 1rem;
    transition: transform .2s linear;
  }

  &:hover svg:last-of-type {
    transform: translateY(.2rem);
  }
}

@media (max-width: 1499px) {
  .intro__title {
    font-size: 6rem;
    max-width: 70rem;
  }
}

@media (max-width: 1199px) {
  .intro__title {
    font-size: 5rem;
    max-width: 60rem;
    margin: 0 auto 4rem;
  }
}

@media (max-width: 991px) {
  .intro__scroll-down {
    display: none;
  }

  .intro {
    padding-top: 15rem;
    padding-bottom: 4rem;
    min-height: auto;
  }

  .intro__content .container {
    min-height: auto;
    display: block;
  }

  .intro__actions {
    margin-bottom: 4rem;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 4.5rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 576px) {
  .intro__title {
    font-size: 4rem;
    max-width: 46rem;
  }

  .intro__actions {
    display: block;
  }

  .intro__btn:first-of-type {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 530px) {
  .intro__title {
    font-size: 3.5rem;
    max-width: 40rem;
  }
}