.modal {
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform .3s ease-out;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background-color: $white;
  z-index: 10;
}

.modal.show {
  transform: translateX(0);
}

.container-modal {
  width: 100%;
  height: 100%;
  max-width: 1407px;
  padding: 0 2rem;
  margin: 0 auto;

  position: relative;

  &:after {
    @include waves;

    right: -8.6rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.modal__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;
  align-items: center;
}

.modal__item:last-of-type {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1499px) {
  .modal__item:last-of-type {
    justify-content: center;
  }

  .container-modal {

    &:after {
      right: -15rem;
    }
  }
}

@media (max-width: 1199px) {
  .modal__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-modal {

    &:after {
      right: -22rem;
    }
  }
}

@media (max-width: 484px) {
  .modal__inner {
    align-items: flex-start;
  }
}