.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem;
  line-height: 1.25;
  font-weight: 700;
  color: $blue;
}

@media (max-width: 1499px) {
  .nav__link {
    font-size: 5rem;
  }
}

@media (max-width: 1199px) {
  .nav {
    margin-bottom: 10rem;
  }

  .nav__list:first-of-type {
    margin-right: 10rem;
  }

  .nav__link {
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .nav__link {
    font-size: 3.5rem;
  }
}

@media (max-width: 484px) {
  .nav {
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__list:first-of-type {
    margin: 0;
  }
}