.recommendation {
  margin-top: 8.1rem;
  margin-bottom: 5.9rem;

  .slick-list {
    box-sizing: initial;
    padding: 25px 0;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .slick-next {
    right: -5rem;
  }

  .slick-prev {
    left: -5rem;
  }
}

@media (max-width: 1499px) {
  .recommendation {

    .slick-prev svg,
    .slick-next svg {
      width: 1.2rem;
      height: 2.2rem;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }
  }
}

