.section--about {
  padding-top: 17rem;
  margin-bottom: 11.2rem;
  position: relative;

  &:before,
  &:after {
    @include waves;
  }

  &:after {
    right: -3.5rem;
    top: 15px;
  }

  &:before {
    right: -3.5rem;
    bottom: -20%;
  }
}

.section--recommendation {
  margin-bottom: 10rem;
  position: relative;

  &:before,
  &:after {
    @include waves;
  }

  &:before {
    left: -5.6rem;
    top: -23.7rem;
  }

  &:after {
    right: -4.6rem;
    bottom: -11.2rem;
  }
}

.section--manufacturer {
  margin-bottom: 26rem;
  position: relative;

  &:before {
    @include rectangle;
    right: 0;
    width: 100%;
  }
}

.section--services {
  margin-bottom: 28.6rem;
  position: relative;

  &:before {
    @include waves;
    top: -23.7rem;
    left: -7rem;
  }
}

.section--works {
  margin-bottom: 26rem;
  position: relative;

  &:before {
    @include waves;
    top: -16rem;
    left: -7rem;
  }
}

.section--news {
  margin-bottom: 22rem;
  position: relative;

  &:after {
    @include waves;
    top: -30rem;
    right: -9rem;
  }
}

.section--reviews {
  margin-bottom: 8.5rem;
  position: relative;

  &:before {
    @include waves;
    top: -26.5rem;
    left: -18.4rem;
  }
}

.section--consultation {
  overflow: hidden;
  padding-bottom: 3.2rem;
  position: relative;

  &:before {
    @include waves;
    left: -5.1rem;
    bottom: -20.2rem;
  }

  &:after {
    @include waves;
    top: -39rem;
    right: -6.9rem;
  }
}

.section--about-company {
  margin-bottom: 15.5rem;
  position: relative;

  &:before {
    @include waves;
    left: -14.7rem;
    top: 7.4rem;
  }
}

.section--collab {
  margin-bottom: 18.4rem;
}

.section--collab {
  background: url('../img/collab-background.jpg') no-repeat center;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    z-index: 1;
    background-color: $blue;
  }
}

.section--our-team {
  position: relative;

  &:after {
    @include waves;
    right: -2.3rem;
    bottom: -19.2rem;
  }
}

.section--see-also {
  margin-bottom: 8.4rem;
  position: relative;

  &:before {
    @include waves;
    top: -39rem;
    left: -5rem;
  }
}

@media (max-width: 1499px) {
  .section--about {

    &:after {
      right: -10rem;
      top: -5rem;
    }

    &:before {
      right: -10rem;
    }
  }

  .section--recommendation {

    &:before {
      left: -10rem;
    }

    &:after {
      right: -10rem;
    }
  }

  .section--manufacturer {

    &:before {
      height: 25rem;
    }
  }

  .section--services {

    &:before {
      left: -15rem;
    }
  }

  .section--works {

    &:before {
      left: -15rem;
    }
  }

  .section--news {

    &:after {
      right: -15rem;
    }
  }

  .section--consultation {

    &:before {
      left: -10rem;
    }

    &:after {
      top: -35rem;
      right: -10rem;
    }
  }

  .section--about-company {

    &:before {
      left: -20rem;
      top: 5rem;
    }
  }

  .section--our-team {

    &:after {
      @include waves;
      right: -10rem;
      bottom: -25rem;
    }
  }
}

@media (max-width: 1199px) {
  .section--about {

    &:after {
      right: -20rem;
      top: -10rem;
    }

    &:before {
      right: -20rem;
      bottom: 0;
    }
  }

  .section--recommendation {

    &:before {
      left: -20rem;
    }

    &:after {
      right: -20rem;
    }
  }

  .section--services {

    &:before {
      left: -22rem;
    }
  }

  .section--works {

    &:before {
      left: -22rem;
    }
  }

  .section--news {

    &:after {
      right: -22rem;
    }
  }

  .section--consultation {

    &:before {
      left: -20rem;
    }

    &:after {
      top: -35rem;
      right: -20rem;
    }
  }

  .section--about-company {

    &:before {
      left: -25rem;
      top: 0;
    }
  }

  .section--our-team {

    &:after {
      @include waves;
      right: -20rem;
    }
  }
}

@media (max-width: 991px) {
  .section--services {
    margin-bottom: 18rem;
  }

  .section--works {
    margin-bottom: 18rem;
  }

  .section--news {
    margin-bottom: 18rem;
  }
}

@media (max-width: 767px) {
  .section--about {
    padding-top: 13rem;
  }

  .section--manufacturer {
    margin-bottom: 20rem;

    &:before {
      display: none;
    }
  }
}