.section--about {
  padding-top: 17rem;
  margin-bottom: 10.5rem;
  position: relative;

  &:before,
  &:after {
    @include waves;
  }

  &:after {
    right: -3.5rem;
    top: 15px;
  }

  &:before {
    right: -3.5rem;
    bottom: -20%;
  }
}

.section--recommendation {
  margin-bottom: 10rem;
  position: relative;

  &:before,
  &:after {
    @include waves;
  }

  &:before {
    left: -5.6rem;
    top: -23.7rem;
  }

  &:after {
    right: -4.6rem;
    bottom: -11.2rem;
  }
}

.section--manufacturer {
  margin-bottom: 26rem;
  position: relative;

  &:before {
    @include rectangle;
    right: 0;
    width: 100%;
  }
}

.section--services {
  margin-bottom: 28.6rem;
  position: relative;

  &:before {
    @include waves;
    top: -23.7rem;
    left: -7rem;
  }
}