.section--about {
  padding-top: 17rem;
  margin-bottom: 11.2rem;
  position: relative;

  &:before,
  &:after {
    @include waves;
  }

  &:after {
    right: -3.5rem;
    top: 15px;
  }

  &:before {
    right: -3.5rem;
    bottom: -20%;
  }
}

.section--recommendation {
  margin-bottom: 10rem;
  position: relative;

  &:before,
  &:after {
    @include waves;
  }

  &:before {
    left: -5.6rem;
    top: -23.7rem;
  }

  &:after {
    right: -4.6rem;
    bottom: -11.2rem;
  }
}

.section--manufacturer {
  margin-bottom: 26rem;
  position: relative;

  &:before {
    @include rectangle;
    right: 0;
    width: 100%;
  }
}

.section--services {
  margin-bottom: 28.6rem;
  position: relative;

  &:before {
    @include waves;
    top: -23.7rem;
    left: -7rem;
  }
}

.section--works {
  margin-bottom: 26rem;
  position: relative;

  &:before {
    @include waves;
    top: -16rem;
    left: -7rem;
  }
}

.section--news {
  margin-bottom: 22rem;
  position: relative;

  &:after {
    @include waves;
    top: -30rem;
    right: -9rem;
  }
}

.section--reviews {
  margin-bottom: 8.5rem;
  position: relative;

  &:before {
    @include waves;
    top: -26.5rem;
    left: -18.4rem;
  }
}

.section--consultation {
  margin-bottom: 3.2rem;
  position: relative;

  &:before {
    @include waves;
    left: -5.1rem;
    bottom: -20.2rem;
  }

  &:after {
    @include waves;
    top: -39rem;
    right: -6.9rem;
  }
}

@media (max-width: 1499px) {
  .section--about {

    &:after {
      right: -10rem;
      top: -5rem;
    }

    &:before {
      right: -10rem;
    }
  }

  .section--recommendation {

    &:before {
      left: -10rem;
    }

    &:after {
      right: -10rem;
    }
  }

  .section--manufacturer {

    &:before {
      height: 25rem;
    }
  }

  .section--services {

    &:before {
      left: -15rem;
    }
  }

  .section--works {

    &:before {
      left: -15rem;
    }
  }

  .section--news {

    &:after {
      right: -15rem;
    }
  }

  .section--consultation {

    &:before {
      left: -10rem;
    }

    &:after {
      top: -35rem;
      right: -10rem;
    }
  }
}

@media (max-width: 1199px) {
  .section--about {

    &:after {
      right: -20rem;
      top: -10rem;
    }

    &:before {
      right: -20rem;
      bottom: 0;
    }
  }

  .section--recommendation {

    &:before {
      left: -20rem;
    }

    &:after {
      right: -20rem;
    }
  }

  .section--services {

    &:before {
      left: -22rem;
    }
  }

  .section--works {

    &:before {
      left: -22rem;
    }
  }

  .section--news {

    &:after {
      right: -22rem;
    }
  }

  .section--consultation {

    &:before {
      left: -20rem;
    }

    &:after {
      top: -35rem;
      right: -20rem;
    }
  }
}