.see-also {
  margin-top: 5.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
}

@media (max-width: 1199px) {
  .see-also {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
  }
}

@media (max-width: 991px) {
  .see-also {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 549px) {
  .see-also {
    grid-template-columns: 1fr;

    .product-card {
      margin: 0 auto;
    }
  }
}
