.social {
  display: flex;
}

.social__list {

  &--first {
    margin-right: 7.3rem;
  }

  &--footer {
    margin-right: 5.9rem;
  }
}

.social__icon {
  margin-right: 1.7rem;
  fill: $blue;

  &--white {
    fill: $white;
  }

  &--viber {
    margin-right: 1rem;
  }

  &--telegram {
    margin-right: .7rem;
  }
}

.social__link {
  display: flex;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;
  color: $blue;

  margin-bottom: .4rem;

  &--white {
    color: $white;
  }
}

.social__items-bottom {
  display: flex;
  justify-content: space-between;
}