.title {
  padding-left: 6rem;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 4.9rem;
  line-height: 1.2;
  font-weight: 700;

  position: relative;

  &:before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;

    background: url('../img/waves-small.png') center no-repeat;
    background-size: contain;

    position: absolute;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.title__sub {
  font-size: 25.3rem;
  line-height: 1.2;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(29, 152, 250, .15);

  position: absolute;
  top: -20%;
  left: 5rem;
  transform: translateY(-50%);
  z-index: -1;
}

@media (max-width: 1499px) {
  .title {
    padding-left: 5rem;
    font-size: 4rem;

    &:before {
      width: 3rem;
      height: 3rem;
    }
  }

  .title__sub {
    font-size: 20rem;

    left: 4rem;
  }
}

@media (max-width: 1199px) {
  .title {
    padding-left: 4.5rem;
    font-size: 3.5rem;

    &:before {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  .title__sub {
    font-size: 15rem;
  }
}

@media (max-width: 991px) {
  .title__sub {
    font-size: 12rem;
    top: 0;
  }
}

@media (max-width: 767px) {
  .title__sub {
    display: none;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 3rem;
    padding-left: 4rem;

    &:before {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}