.works {
  margin-top: 13rem;
  display: grid;
  grid-row-gap: 3rem;
}

.works__top {
  display: grid;
  grid-template-columns: 1fr 35rem;
  grid-column-gap: 3rem;
}

.works__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.works__item {
  min-height: 364px;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-decoration: none;
  color: $white;
  transition: box-shadow .3s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.65;
    z-index: 2;
    transition: opacity .4s;
    background-color: $blue;
  }
}

.works__item-body {
  z-index: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% - 9rem);
  transition: all .4s;
  text-decoration: none;

  padding: 0 2rem;
}

.works__item-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.works__item-text {
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
  overflow: hidden;

  p {
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.works__item-footer {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  position: absolute;
  left: 0;
  bottom: 2rem;
  z-index: 3;

  span {
    display: flex;
    align-items: center;
  }
}

.works__item-icon {
  display: block;

  &:first-of-type {
    margin-left: 1rem;
  }

  &:last-of-type {
    margin-right: 1rem;
  }
}

/* news__item hover */
.works__item:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, .40);
}

.works__item:hover:after {
  opacity: 0.89;
}

.works__item:hover .works__item-body {
  top: 6rem;
}

.works__item:hover .works__item-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1199px) {
  .works__item:hover .works__item-body {
    top: 3rem;
  }

  .works__item-footer span {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .works__top {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }

  .works__main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .works__main {
    grid-template-columns: 1fr;
  }

  .works__item-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 415px) {
  .works__item-footer {
    padding: 0 1rem;
  }

  .works__item-body {
    padding: 0 1rem;
  }

  .works__item:hover .works__item-body {
    top: 2.5rem;
  }
}

